.body {
  margin: 0;
  padding: 0;
}

.Theh1 {
  color: rgb(0, 0, 0);
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.outer-container {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startbtn {
  padding: 12px;
  font-weight: bolder;
  color: white;
  width: 100%;
  background-color: rgba(9, 211, 69, 0.748);
  border-radius: 6px;
  border-color: rgba(9, 211, 69, 0.748);
  font-size: 22px;
}
.startbtn:hover {
  background-color: rgba(10, 232, 77, 0.748);
  outline: none;
}
.startbtn:focus {
  outline: none;
}

.p-text {
  margin-top: 5%;
  margin-bottom: 0;
  float: left;
}
